@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    user-select: none;
     
  }
 
  button,
  .result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
                0px 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease;
  }
   
  
  .start button{
    width: 220px;
    height: 67.3px;
    font-size: 35px;
    font-weight: 700;
    
    color: #0c4685;
    padding: 7px 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
              0px 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 150px;
  }
  
  #game{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .logo{
    height: 130px;
    width: 130px;
    position: absolute;
    margin-left: 610px;
    margin-top: 88px;
  }
  .img{
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .name-box{
    width: 350px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 500px; 
    margin-top: 270px;
    border-radius: 15px;
    box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.3);

  }
  .name{
    color: #000000;
    padding-left: 90px;
    padding-top: 10px;
    font: normal bold 25px/1.2 "proxima-nova";
    letter-spacing: -1px;
     
    
  }
  .game-name{
    width: 150px;
    height: 30px;
    font-family: 'Kanit', sans-serif;
    padding-left: 10px;
    padding-top: 5px;
    opacity: 1;
    position: absolute;
    margin-top: 220px;
    margin-left: 610px;
    font-size: 23px;
    

  }
 
  .om {

    height: 40px;
    width: 280px;
    margin-top: 25px;
    margin-left: -57px;
    padding-left: 10px;
    border: none;
    background-color: #007bff;
    border-radius: 4px;
    /* I have use css maker to generate the blur and transparent background */
    background: linear-gradient(
      111deg,
      rgba(205, 215, 250, 0.1) 0%,
      rgba(61, 79, 240, 0.1) 100%
    );
    
    box-shadow:
      inset 0px 10px 5px 0px rgba(255, 255, 255, 0.15),
      inset 0px -10px 5px 0px rgba(205, 215, 250, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .inst{
    position: absolute;
    margin-top: 530px;
    margin-left: 620px;
    height: 46px;
    width: 148px;
    font-size: small;
    cursor: pointer;
  }
  #game #game-container,
  #game #tiles{
    position: absolute;
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    z-index: 2;
  }
  
  #game .score{
    width: 100%;
    max-width: 600px;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    z-index: 5;
  }
  #game .score p{
    font-size: 40px;
    width: auto;
    color: rgb(255, 0, 85);
    z-index: 5;
    margin-left: 720px;
  }
  
  #game #game-container .line{
    width: 25%;
    border-right: solid 1px rgb(197, 197, 197);
  }
  
  #game #game-container #line4 #line2 #line1 #line3{
    border-right: none;
 
  }
  #game-container{
    margin-left: 360px;
  }
  #game #tiles{
    display: block;
    overflow: hidden;
    margin-left: 360px;
  }
  
  #game #tiles div{
    width: 25%;
    height: 30%;
    position: absolute;
    top: -30%;
    background:rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
     
  }
 
  
  .move{
    transform: translateY(145vh);
    transition: transform linear 2s;
  }
  .speedX1{
    transition: transform linear 1.5s;
  }
  .speedX2{
    transition: transform linear 1.25s;
  }
  .speedX3{
    transition: transform linear 1s;
  }
  .speedX4{
    transition: transform linear 0.75s;
  }
  .result_box{
      background: #fff;
      width: 450px;
      height: auto;
      padding: 25px 30px;
      border-radius: 5px;
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      pointer-events: none;
      transform: translate(-50%, -50%) scale(0.9);
  }
  
  .result_box.activeResult{
      z-index: 5;
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, -50%) scale(1);
  }
  
  .result_box .complete_text{
      font-size: 20px;
      font-weight: 500;
  }
  .result_box .score_text{
      margin: 10px 0;
      font-size: 18px;
      font-weight: 500;
  }
  .result_box  .icon{
      font-size: 100px;
      color: #007bff;
      margin-bottom: 10px;
  }
  
  .result_box .buttons{
      position: relative;
      display: flex;
      margin: 20px 0;
  }
  
  .result_box .buttons button{
      margin: 0 10px;
      width: auto;
      height: 40px;
      padding: 0 20px;
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid #007bff;
      cursor: pointer;
      transition: all 0.3s ease;
  }
  
  @media(max-width: 550px){
      .result_box .game-name{
          width: 100%;
      }
      .inst{
        margin: 0vw;
        margin-top: 140vw;
        margin-left: 40vw;

      }
      .name-box{
        margin: 0vw;
        margin-top: 75vw;
        margin-left: 17vw;
      }
      .game-name{
        margin: 0vw;
        font-size: 7vw;
        margin-top: 60vw;
        margin-left: 30vw;
        width: 100vw;
      }
      .logo{
        margin: 0vw;
        margin-top: 12vw;
        margin-left: 27vw;
        height: 45vw;
        width: 45vw;
      }
      #game-container  {
        margin: 0vw;
      }
      #game #tiles{
        margin: 0vw;
      }
      #game .score p{
        margin: 0vw;
      }
    @media(max-width: 320px){
      .result_box .complete_text{
          font-size: 18px;
      }
        }
        
      }
       
         

     
  